{% import "bootstrap/wtf.html" as wtf %}

{% extends "auth.html" %}

{% block content %}
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" method="post" action="{{ url_for('auth.login') }}">
            {{ form.hidden_tag() }}
            <h3 class="form-title font-green">Sign In</h3>
            <div class="container-fluid alter_clear">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                {{ form.username(class='form-control form-control-solid placeholder-no-fix',autocomplete='off') }}
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                {{ form.password(class='form-control form-control-solid placeholder-no-fix',autocomplete='off') }}
            </div>
            <div class="form-actions">
                {{ form.submit(class='btn green uppercase') }}
                <label class="rememberme check">{{ form.remember_me(class='rememberme check') }}
                    Remember </label>
                <a href="{{ url_for('auth.password_reset_request') }}" id="forget-password" class="forget-password">忘记了密码?</a>
            </div>
            <div class="login-options">
                <h4>Or login with</h4>
                <ul class="social-icons">
                    <li>
                        <a class="social-icon-color facebook" data-original-title="facebook" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color twitter" data-original-title="Twitter" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color googleplus" data-original-title="Goole Plus"
                           href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color linkedin" data-original-title="Linkedin" href="javascript:;"></a>
                    </li>
                </ul>
            </div>
            <div class="create-account">
                <p>
                    <a href="{{ url_for('auth.register') }}" id="register-btn" class="uppercase">创建一个账户</a>
                </p>
            </div>
        </form>
        <!-- END LOGIN FORM -->
    </div>
{% endblock %}