{% extends "auth.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="content">
        <!-- BEGIN REGISTRATION FORM -->
        <form class="register-form" action="{{ url_for('auth.register') }}" method="post">
            {{ form.hidden_tag() }}
            <h3 class="font-green">注 册</h3>
            <p class="hint"> 新输入您的个人信息: </p>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Full Name</label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Full Name" name="fullname"/>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Email" name="email"/></div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Address</label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Address" name="address"/></div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">City/Town</label>
                <select name="city" class="form-control" id="city_list">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Country</label>
                <select name="country" id="country_list" class="form-control">
                    <option value="" selected>请选择省份</option>
                    {% for o in ch_region %}
                        <option value="{{ o.ID }}">{{ o.REGION_NAME }}</option>
                    {% endfor %}
                </select>
            </div>
            <p class="hint"> Enter your account details below: </p>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username"
                       name="username"/></div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password"
                       placeholder="Password" name="password"/></div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off"
                       placeholder="Re-type Your Password" name="rpassword"/></div>
            <div class="form-group margin-top-20 margin-bottom-20">
                <label class="check">
                    <input type="checkbox" name="tnc"/> I agree to the
                    <a href="javascript:;"> Terms of Service </a> &
                    <a href="javascript:;"> Privacy Policy </a>
                </label>
                <div id="register_tnc_error"></div>
            </div>
            <div class="form-actions">
                <a href="{{ url_for('auth.login') }}" id="register-back-btn" class="btn btn-default">Back</a>
                <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Submit
                </button>
            </div>
        </form>
        <!-- END REGISTRATION FORM -->
    </div>
{% endblock %}
