{% extends "auth.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="content">
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" method="post">
            {{ form.hidden_tag() }}
            <h3 class="font-green">Forget Password ?</h3>
            <p> Enter your e-mail address below to reset your password. </p>
            <div class="form-group">
            <div class="container-fluid">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            </div>
            {% if token is none %}
                {{ form.email(class='form-control form-control-solid placeholder-no-fix',autocomplete="off",placeholder="Email") }}
            {% else %}
                <div class="form-group">
                    {{ form.password(class='form-control form-control-solid placeholder-no-fix',autocomplete="off",placeholder="Password") }}
                </div>
                <div class="form-group">
                    {{ form.password2(class='form-control form-control-solid placeholder-no-fix',autocomplete="off",placeholder="Re-type Your Password") }}
                </div>
            {% endif %}
            </div>
            <div class="form-actions">
                <a href="{{ url_for('auth.login') }}" id="back-btn" class="btn btn-default">Back</a>
                <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
    </div>
{% endblock %}