{% extends "manage.html" %}

{% block content %}
{% endblock %}

{% block page_level_scripts %}
    <script src="{{ url_for('static',filename='pages/scripts/dashboard.min.js') }}"></script>
{% endblock %}

{% block page_level_styles_plugins %}
    <link href="{{ url_for('static',filename='global/plugins/bootstrap-daterangepicker/daterangepicker.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static',filename='global/plugins/morris/morris.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static',filename='global/plugins/fullcalendar/fullcalendar.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static',filename='global/plugins/jqvmap/jqvmap/jqvmap.css') }}" rel="stylesheet"/>
{% endblock %}

{% block page_level_scripts_plugins %}
    <script src="{{ url_for('static',filename='global/plugins/moment.min.js') }}"></script>
    <script src="{{ url_for('static',filename='global/plugins/bootstrap-daterangepicker/daterangepicker.min.js') }}"></script>
    <script src="{{ url_for('static',filename='global/plugins/morris/morris.min.js') }}"></script>
 {% endblock %}

{% block top_menu %}
    {{ super() }}
    {% include '_topMenu_block.html' %}
{% endblock %}