{% extends "manage.html" %}

{% block content %}
    {{ super() }}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Default</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="mt-element-step">
                        <div class="row step-line">
                            <div class="col-md-3 mt-step-col first active">
                                <div class="mt-step-number bg-white">1</div>
                                <div class="mt-step-title uppercase font-grey-cascade">选择商品分类</div>
                                <div class="mt-step-content font-grey-cascade">Lorem ipsum dolor sit amet</div>
                            </div>
                            <div class="col-md-3 mt-step-col">
                                <div class="mt-step-number bg-white">2</div>
                                <div class="mt-step-title uppercase font-grey-cascade">填写商品信息</div>
                                <div class="mt-step-content font-grey-cascade">Lorem ipsum dolor sit amet</div>
                            </div>
                            <div class="col-md-3 mt-step-col">
                                <div class="mt-step-number bg-white">3</div>
                                <div class="mt-step-title uppercase font-grey-cascade">填写商品属性</div>
                                <div class="mt-step-content font-grey-cascade">Lorem ipsum dolor sit amet</div>
                            </div>
                            <div class="col-md-3 mt-step-col last">
                                <div class="mt-step-number bg-white">4</div>
                                <div class="mt-step-title uppercase font-grey-cascade">选择商品关联</div>
                                <div class="mt-step-content font-grey-cascade">Lorem ipsum dolor sit amet</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-green"></i>
                        <span class="caption-subject font-green bold uppercase">选择材料类别</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form action="#" id="form-username" class="form-horizontal form-bordered">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="row" data-selectsplitter-wrapper-selector="">
                                    <div class="col-xs-12 col-sm-6">
                                        <select class="form-control" id="material_parent" size="4"></select>
                                    </div> <!-- Add the extra clearfix for only the required viewport -->
                                    <div class="clearfix visible-xs-block"></div>
                                    <div class="col-xs-12 col-sm-6">
                                        <select class="form-control" id="material_child" size="4">

                                        </select>
                                    </div>
                                </div>
                                <p class="help-block"> click on the main option to list its child items </p>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">
                                        <i class="fa fa-check"></i> Submit
                                    </button>
                                    <button type="button" class="btn default">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_level_scripts %}
    <script src="{{ url_for('static',filename='pages/scripts/dashboard.min.js') }}"></script>
    <script src="{{ url_for('static',filename='pages/scripts/page_level_script.js') }}"></script>
    <script src="{{ url_for('static',filename='pages/scripts/add-material-init.js') }}"></script>
{% endblock %}

{% block page_level_styles_plugins %}
    <link href="{{ url_for('static',filename='global/plugins/bootstrap-daterangepicker/daterangepicker.min.css') }}"
          rel="stylesheet"/>
    <link href="{{ url_for('static',filename='global/plugins/morris/morris.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static',filename='global/plugins/bootstrap-fileinput/bootstrap-fileinput.css') }}"
          rel="stylesheet"/>
    <link href="{{ url_for('static',filename='global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css') }}"
          rel="stylesheet"/>
    <link href="{{ url_for('static',filename='global/plugins/bootstrap-modal/css/bootstrap-modal.css') }}"
          rel="stylesheet"/>
    <link href="{{ url_for('static',filename='global/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static',filename='global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}"
          rel="stylesheet"/>
{% endblock %}

{% block page_level_scripts_plugins %}
    <script src="{{ url_for('static',filename='global/plugins/moment.min.js') }}"></script>
    <script src="{{ url_for('static',filename='global/plugins/bootstrap-daterangepicker/daterangepicker.min.js') }}"></script>
    <script src="{{ url_for('static',filename='global/plugins/morris/morris.min.js') }}"></script>
    <script src="{{ url_for('static',filename='global/plugins/bootstrap-fileinput/bootstrap-fileinput.js') }}"></script>
    <script src="{{ url_for('static',filename='global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js') }}"></script>
    <script src="{{ url_for('static',filename='global/plugins/bootstrap-modal/js/bootstrap-modal.js') }}"></script>
    <script src="{{ url_for('static',filename='global/scripts/datatable.js') }}"></script>
    <script src="{{ url_for('static',filename='global/plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ url_for('static',filename='global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}"></script>
{% endblock %}


{% block top_menu %}
    {{ super() }}
    {% include '_topMenu_block.html' %}
{% endblock %}