{% extends "sms_base.html" %}
{% import "_macros.html" as macros %}
{% block title %}短信列表{% endblock %}

{% block content %}
    <section class="container sms-content-ad">
        <div class="ad"></div>
    </section>

    <section class="container-fluid sms_content">
        <div class="container sms-content-list">
            <div class="sms-content-text">
                <h2>最新短信内容</h2>
            </div>
            <div class="sms-content-table">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="5%"> #</th>
                        <th width="20%"> 电话号码</th>
                        <th width="60%"> 短信内容</th>
                        <th width="15%"> 发送日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in list_four %}
                        <tr>
                            <td> 1</td>
                            <td> {{ item.PhoneNumber }} </td>
                            <td> {{ item.Content }} </td>
                            <td>
                                <time>{{ item.SMS_ReceiveTime }}</time>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="container sms-content-ad">
        <div class="ad"></div>
    </section>
    <section class="container-fluid sms_content">
        <div class="container sms-content-list">
            <div class="sms-content-text">
                <h2>以往短信内容</h2>
            </div>
            <div class="sms-content-table">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="5%"> #</th>
                        <th width="20%"> 电话号码</th>
                        <th width="60%"> 短信内容</th>
                        <th width="15%"> 发送日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in list_surplus %}
                        <tr>
                            <td> 1</td>
                            <td> {{ item.PhoneNumber }} </td>
                            <td> {{ item.Content }} </td>
                            <td>
                                <time>{{ item.SMS_ReceiveTime }}</time>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="sms-content-pager">
            {% if list_surplus %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination,'.SMSContent') }}
            </div>
            {% endif %}
        </div>
    </section>

{% endblock %}

{% block styles %}
    <link href="{{ url_for('static',filename='pages/css/sms_receive.css') }}" rel="stylesheet">
{% endblock %}